<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hlb1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,170},{66,54}}</string>
                <key>offset</key>
                <string>{-2,-48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,96},{66,54}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>hlb1_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,168},{66,98}}</string>
                <key>offset</key>
                <string>{1,-26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{43,52},{66,98}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>hlb1_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,228},{92,96}}</string>
                <key>offset</key>
                <string>{-8,-27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,54},{92,96}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>hlb1_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,170},{96,96}}</string>
                <key>offset</key>
                <string>{6,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,54},{96,96}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>hlb1_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,100},{100,98}}</string>
                <key>offset</key>
                <string>{2,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,52},{100,98}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>hlb1_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,2},{88,98}}</string>
                <key>offset</key>
                <string>{-2,-26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,52},{88,98}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>hlb1_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,2},{106,98}}</string>
                <key>offset</key>
                <string>{5,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,52},{106,98}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>hlb1_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,200},{94,96}}</string>
                <key>offset</key>
                <string>{0,-27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,54},{94,96}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>hlb1_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{110,96}}</string>
                <key>offset</key>
                <string>{2,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,54},{110,96}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>hlb1_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,2},{98,96}}</string>
                <key>offset</key>
                <string>{2,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,54},{98,96}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>hlb1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,2},{66,76}}</string>
                <key>offset</key>
                <string>{0,-37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{42,74},{66,76}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>hlb1_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,102},{66,98}}</string>
                <key>offset</key>
                <string>{1,-26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{43,52},{66,98}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>hlb1_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,160},{66,98}}</string>
                <key>offset</key>
                <string>{1,-26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{43,52},{66,98}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>hlb1_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,102},{66,98}}</string>
                <key>offset</key>
                <string>{1,-26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{43,52},{66,98}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>hlb1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,2},{66,76}}</string>
                <key>offset</key>
                <string>{0,-37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{42,74},{66,76}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>hlb1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,100},{66,98}}</string>
                <key>offset</key>
                <string>{0,-26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{42,52},{66,98}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>hlb1_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,100},{66,98}}</string>
                <key>offset</key>
                <string>{0,-26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{42,52},{66,98}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>hlb1_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,100},{66,98}}</string>
                <key>offset</key>
                <string>{0,-26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{42,52},{66,98}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>hlb1_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,92},{66,98}}</string>
                <key>offset</key>
                <string>{1,-26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{43,52},{66,98}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>hlb1_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,92},{66,98}}</string>
                <key>offset</key>
                <string>{1,-26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{43,52},{66,98}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>hlb1_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,70},{66,98}}</string>
                <key>offset</key>
                <string>{1,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,52},{66,98}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hlb1.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a71cba032a1a232723eb064e76f805c1:1/1$</string>
            <key>textureFileName</key>
            <string>hlb1.png</string>
        </dict>
    </dict>
</plist>
