<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Theme1/Monster/B11.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,176},{158,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,11},{158,118}}</string>
                <key>sourceSize</key>
                <string>{200,140}</string>
            </dict>
            <key>Theme1/Monster/B12.png</key>
            <dict>
                <key>frame</key>
                <string>{{808,124},{144,124}}</string>
                <key>offset</key>
                <string>{-8,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,8},{144,124}}</string>
                <key>sourceSize</key>
                <string>{200,140}</string>
            </dict>
            <key>Theme1/Monster/B13.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,208},{152,112}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,16},{152,112}}</string>
                <key>sourceSize</key>
                <string>{200,140}</string>
            </dict>
            <key>Theme1/Monster/BB11.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,2},{210,204}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,8},{210,204}}</string>
                <key>sourceSize</key>
                <string>{250,220}</string>
            </dict>
            <key>Theme1/Monster/BB12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{234,210}}</string>
                <key>offset</key>
                <string>{-3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,2},{234,210}}</string>
                <key>sourceSize</key>
                <string>{250,220}</string>
            </dict>
            <key>Theme1/Monster/BB13.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,2},{172,194}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{39,17},{172,194}}</string>
                <key>sourceSize</key>
                <string>{250,220}</string>
            </dict>
            <key>Theme1/Monster/BM11.png</key>
            <dict>
                <key>frame</key>
                <string>{{824,2},{120,168}}</string>
                <key>offset</key>
                <string>{-8,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,6},{120,168}}</string>
                <key>sourceSize</key>
                <string>{200,190}</string>
            </dict>
            <key>Theme1/Monster/BM12.png</key>
            <dict>
                <key>frame</key>
                <string>{{646,2},{120,176}}</string>
                <key>offset</key>
                <string>{-1,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{39,0},{120,176}}</string>
                <key>sourceSize</key>
                <string>{200,190}</string>
            </dict>
            <key>Theme1/Monster/BM13.png</key>
            <dict>
                <key>frame</key>
                <string>{{646,124},{120,160}}</string>
                <key>offset</key>
                <string>{4,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{44,16},{120,160}}</string>
                <key>sourceSize</key>
                <string>{200,190}</string>
            </dict>
            <key>Theme1/Monster/F11.png</key>
            <dict>
                <key>frame</key>
                <string>{{938,335},{70,80}}</string>
                <key>offset</key>
                <string>{-1,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,4},{70,80}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>Theme1/Monster/F12.png</key>
            <dict>
                <key>frame</key>
                <string>{{954,190},{66,82}}</string>
                <key>offset</key>
                <string>{0,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,2},{66,82}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>Theme1/Monster/F13.png</key>
            <dict>
                <key>frame</key>
                <string>{{937,468},{74,76}}</string>
                <key>offset</key>
                <string>{-3,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,9},{74,76}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>Theme1/Monster/F21.png</key>
            <dict>
                <key>frame</key>
                <string>{{938,274},{59,82}}</string>
                <key>offset</key>
                <string>{-1,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,4},{59,82}}</string>
                <key>sourceSize</key>
                <string>{87,100}</string>
            </dict>
            <key>Theme1/Monster/F22.png</key>
            <dict>
                <key>frame</key>
                <string>{{113,531},{59,86}}</string>
                <key>offset</key>
                <string>{-1,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,1},{59,86}}</string>
                <key>sourceSize</key>
                <string>{87,100}</string>
            </dict>
            <key>Theme1/Monster/F23.png</key>
            <dict>
                <key>frame</key>
                <string>{{937,407},{59,80}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,7},{59,80}}</string>
                <key>sourceSize</key>
                <string>{87,100}</string>
            </dict>
            <key>Theme1/Monster/L11.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,208},{54,68}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,9},{54,68}}</string>
                <key>sourceSize</key>
                <string>{100,90}</string>
            </dict>
            <key>Theme1/Monster/L12.png</key>
            <dict>
                <key>frame</key>
                <string>{{718,390},{52,70}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,8},{52,70}}</string>
                <key>sourceSize</key>
                <string>{100,90}</string>
            </dict>
            <key>Theme1/Monster/L13.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,278},{54,62}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,15},{54,62}}</string>
                <key>sourceSize</key>
                <string>{100,90}</string>
            </dict>
            <key>Theme1/Monster/L21.png</key>
            <dict>
                <key>frame</key>
                <string>{{756,318},{40,70}}</string>
                <key>offset</key>
                <string>{1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,7},{40,70}}</string>
                <key>sourceSize</key>
                <string>{100,90}</string>
            </dict>
            <key>Theme1/Monster/L22.png</key>
            <dict>
                <key>frame</key>
                <string>{{756,246},{40,70}}</string>
                <key>offset</key>
                <string>{1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,7},{40,70}}</string>
                <key>sourceSize</key>
                <string>{100,90}</string>
            </dict>
            <key>Theme1/Monster/L23.png</key>
            <dict>
                <key>frame</key>
                <string>{{714,512},{40,66}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,12},{40,66}}</string>
                <key>sourceSize</key>
                <string>{100,90}</string>
            </dict>
            <key>Theme1/Monster/L31.png</key>
            <dict>
                <key>frame</key>
                <string>{{718,444},{66,66}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,2},{66,66}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>Theme1/Monster/L32.png</key>
            <dict>
                <key>frame</key>
                <string>{{954,124},{68,64}}</string>
                <key>offset</key>
                <string>{-2,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,3},{68,64}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>Theme1/Monster/L33.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,518},{58,64}}</string>
                <key>offset</key>
                <string>{2,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,4},{58,64}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>Theme1/Monster/P11.png</key>
            <dict>
                <key>frame</key>
                <string>{{646,463},{66,62}}</string>
                <key>offset</key>
                <string>{-3,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,3},{66,62}}</string>
                <key>sourceSize</key>
                <string>{100,80}</string>
            </dict>
            <key>Theme1/Monster/P12.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,342},{66,64}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,4},{66,64}}</string>
                <key>sourceSize</key>
                <string>{100,80}</string>
            </dict>
            <key>Theme1/Monster/P13.png</key>
            <dict>
                <key>frame</key>
                <string>{{578,463},{66,62}}</string>
                <key>offset</key>
                <string>{-1,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,3},{66,62}}</string>
                <key>sourceSize</key>
                <string>{100,80}</string>
            </dict>
            <key>Theme1/Monster/SF11.png</key>
            <dict>
                <key>frame</key>
                <string>{{584,345},{116,132}}</string>
                <key>offset</key>
                <string>{-2,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,6},{116,132}}</string>
                <key>sourceSize</key>
                <string>{152,152}</string>
            </dict>
            <key>Theme1/Monster/SF12.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,296},{110,134}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,3},{110,134}}</string>
                <key>sourceSize</key>
                <string>{152,152}</string>
            </dict>
            <key>Theme1/Monster/SF13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,214},{124,126}}</string>
                <key>offset</key>
                <string>{-5,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,12},{124,126}}</string>
                <key>sourceSize</key>
                <string>{152,152}</string>
            </dict>
            <key>Theme1/Monster/SF21.png</key>
            <dict>
                <key>frame</key>
                <string>{{798,250},{99,138}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,9},{99,138}}</string>
                <key>sourceSize</key>
                <string>{145,160}</string>
            </dict>
            <key>Theme1/Monster/SF22.png</key>
            <dict>
                <key>frame</key>
                <string>{{610,246},{97,144}}</string>
                <key>offset</key>
                <string>{-1,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,3},{97,144}}</string>
                <key>sourceSize</key>
                <string>{145,160}</string>
            </dict>
            <key>Theme1/Monster/SF23.png</key>
            <dict>
                <key>frame</key>
                <string>{{786,471},{97,132}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,15},{97,132}}</string>
                <key>sourceSize</key>
                <string>{145,160}</string>
            </dict>
            <key>Theme1/Monster/SL11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,442},{86,116}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,12},{86,116}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>Theme1/Monster/SL12.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,408},{92,108}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,19},{92,108}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>Theme1/Monster/SL13.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,441},{88,104}}</string>
                <key>offset</key>
                <string>{-1,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,23},{88,104}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>Theme1/Monster/SL21.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,440},{100,120}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,13},{100,120}}</string>
                <key>sourceSize</key>
                <string>{170,140}</string>
            </dict>
            <key>Theme1/Monster/SL22.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,340},{100,124}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,9},{100,124}}</string>
                <key>sourceSize</key>
                <string>{170,140}</string>
            </dict>
            <key>Theme1/Monster/SL23.png</key>
            <dict>
                <key>frame</key>
                <string>{{920,544},{100,128}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,4},{100,128}}</string>
                <key>sourceSize</key>
                <string>{170,140}</string>
            </dict>
            <key>Theme1/Monster/SL31.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,408},{120,120}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,3},{120,120}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>Theme1/Monster/SL32.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,322},{124,116}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,7},{124,116}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>Theme1/Monster/SL33.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,214},{104,114}}</string>
                <key>offset</key>
                <string>{5,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,7},{104,114}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>Theme1/Monster/SP11.png</key>
            <dict>
                <key>frame</key>
                <string>{{798,351},{137,118}}</string>
                <key>offset</key>
                <string>{-18,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{137,118}}</string>
                <key>sourceSize</key>
                <string>{185,130}</string>
            </dict>
            <key>Theme1/Monster/SP12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,530},{109,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,11},{109,108}}</string>
                <key>sourceSize</key>
                <string>{185,130}</string>
            </dict>
            <key>Theme1/Monster/SP13.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,330},{109,104}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{37,13},{109,104}}</string>
                <key>sourceSize</key>
                <string>{185,130}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>theme_1.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c4a87f51ae6273321c0e0ff7022e2723:1/1$</string>
            <key>textureFileName</key>
            <string>theme_1.png</string>
        </dict>
    </dict>
</plist>
